
<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<div class="container">
<div class="row">
<div class="col">
    <h2 class="display-4">Show All Events</h2>

</div>
</div>
</div>

<%- include('../partials/footer') -%>



